<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>
      {{ page_title }}
    </title>

    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {% style %}
      * {
          padding: 0;
          margin: 0;
      }
      
      body {
          font-size: 16px;
          font-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
      }
      
      a {
          text-decoration: none;
      }
      
      
      
      
      
      .brand-name {
          font-size: 300%;
          font-weight: 400;
          font-family: 'Gruppo';
          color: #fff;
      }
      
      
      
      .icons {
          display: flex;
      }
      .icons > .icon {
          margin: 0 8px;
      }
      .icons > .icon:first-child {
          margin-left: 0;
      }
      .icons > .icon:last-child {
          margin-right: 0;
      }
      .icon svg {
          --icon-stroke-width: 1.8px;
          width: 28px;
          stroke: #fff;
          stroke-width: var(--icon-stroke-width);
      }
      
      
      
      .text {
          font-size: 105%;
          font-weight: 400;
          color: #fff;
      }
      .heading {
          font-size: 360%;
          font-family: 'BeVietnamPro';
          font-weight: 400;
          letter-spacing: -2px;
          line-height: 117%;
      }
      
      
      
      .btn {
          width: fit-content;
          border-style: solid;
          border-width: 3px;
          border-color: #fff;
          padding: 12px 36px;
      }
      .btn .text {
          font-size: 100%;
          font-weight: 600;
      }
    {% endstyle %}

  </head>

  <body>

    {% section 'header' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">

      {{ content_for_layout }}
      
    </main>

  </body>
</html>
